* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  padding-top: 0.1px;
}
#nav {
  width: 100%;
  height: 11%;
  margin-top: 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
#nav h1 {
  height: 100%;
  width: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Monument;
  font-size: 2.5vw;
  letter-spacing: -3px;
}

#nav h2 {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid black;
  font-size: 1.5vw;
  font-weight: 500;
}

#content {
  width: 100%;
  height: 85%;
  padding: 3vw 5vw;
}
#content-in {
  width: 100%;
  height: 100%;
  position: relative;
}
#content-in video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#overlay {
  width: 100%;
  height: 40%;
  color: #fff;
  position: absolute;
  bottom: 0;
  padding: 0 3vw;
}
.over1 {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid white;
  padding-bottom: 3vw;
}
.over1 h1 {
  font-family: Monument;
  font-size: 3vw;
  font-weight: 600;
  letter-spacing: 3px;
}
.over1 h2 {
  font-weight: 500;
  padding: 20px;
  border: 1px solid white;
  border-radius: 50%;
}
.over2 {
  padding: 1vw 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.over2 h2 {
  font-weight: 500;
}
.over2 img {
  height: 2vw;
}
#scroll {
  height: 40vh;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  animation-name: anime;
  animation-duration: 10s;
}
#container {
  width: 100%;
  height: 100%;
  padding: 4vw 0.7vw;
  display: inline-block;
  padding-right: 0;
  animation-name: anime;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#container img {
  height: 15vw;
  width: 15vw;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  margin: 0.7vw;
  margin-top: 0;
}
@keyframes anime {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
#alpha {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  padding: 0 5vw;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
#alpha h2 {
  font-size: 1.5vw;
  font-style: italic;
  border-bottom: 2px solid black;
  margin-right: 2vw;
  font-weight: 500;
  letter-spacing: 4px;
}
#alpha h3 {
  height: 40px;
  width: 40px;
  margin-right: 1.3vw;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  font-weight: 500;
  color: rgb(143, 142, 142);
  border: 1px solid #00000000;
  position: relative;
  transition: all ease-out 0.5s;
  overflow: hidden;
}
#alpha h3::after {
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #0000001c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all ease-out 0.5s;
  z-index: -1;
}
#alpha h3:hover::after {
  transform: translate(-50%, -50%) scale(3);
}
#alpha h3:hover {
  color: #000;
  border: 1px solid #000;
}
#page2 {
  height: 100vh;
  width: 99.1vw;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 8vw;
}
#left {
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
#left img{
  height: 90%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
#left h2{
  font-size: 2.5vw;
  font-family: Monument;
}
#right {
  height: 100%;
  width: 40%;
}
#right img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: 30% 43%;
}
.right-bottom {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.right-bottom h2 {
  height: 100%;
  width: 40%;
  font-size: 1.3vw;
}
.right-bottom h3 {
  height: 100%;
  width: 50%;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1px;
}
#page3 {
  width: 99.1vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 6.3vw 4vw;
}
.page3-left {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.page3-left img{
  width: 50%;
  height:50%;
  object-fit: cover;
  padding-top: 25px;
} 

.page3-left p{
  font-size:1.3vw;
  font-weight: 550;
}
.page3-right {
  width: 50%;
  height: 100%;
  background-color: crimson;
}
.page3-right img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 25%;
}
#page4{
  height: 100vh;
  width: 99.1vw;
  padding: 10vw 5vw;
  padding-top: 5vw;
  position: relative;
}
#page4 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
#page4 h4{
  position: absolute;
  font-size: 1.3vw;
  font-weight: 500;
  width: fit-content;
  padding: 10px 15px;
  border: 1.5px solid black;
  border-radius: 45%;
  top: 11.7%;
  right:6%;
}

